
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.underLine > th{
    text-decoration: underline;
}

.dotted{
    border-style: dotted;
}

.dotted > tr > th{
    border-style: dotted;

}

.dotted > tr > td{
    border-style: dotted;

}